<section id="about">
  <div class="container">
    <h2><strong>About</strong></h2>
    <span class="bar-title mb-5"></span>
    <div class="row">
      <div class="col-lg-4 col-md-12" data-aos="fade-right">
        <picture>
          <img
            src="assets/images/umer.png"
            alt="photo de profil"
            class="img-fluid"
          />
        </picture>
        <div class="d-flex justify-content-center">
          <a
            class="btn-social-media"
            href="https://www.linkedin.com/in/hafiz-umer-farooq-74830918b/"
            rel="tooltip"
            target="_blank"
            title="Follow me on Linkedin"
          >
            <i class="fa fa-linkedin fa-lg"></i>
          </a>
          <a
            class="btn-social-media btn-default btn-round btn-lg btn-icon"
            href="https://github.com/UmerFarooq9076"
            rel="tooltip"
            target="_blank"
            title="Follow me on GitHub"
          >
            <i class="fa fa-github fa-lg"></i
          ></a>

          <a
            class="btn-social-media btn-default btn-round btn-lg btn-icon"
            href="https://www.facebook.com/hafizumar.farooq.923/"
            rel="tooltip"
            target="_blank"
            title="Follow me on Facebook"
          >
            <i class="fa fa-facebook fa-lg"></i
          ></a>
          <a
            class="upwork-img"
            href="https://www.upwork.com/freelancers/~01debf73d6e7a13477"
            rel="tooltip"
            target="_blank"
            title="Follow me on Facebook"
          >
            <img src="assets/images/download.png"/>
        </a>
        <a
            class="fiverr-img"
            href="https://www.fiverr.com/hafizumer9076?source=gig_page"
            rel="tooltip"
            target="_blank"
            title="Follow me on Facebook"
          >
            <img src="assets/images/download (2).png" class="fiverr-img"/>
        </a>
        </div>
      </div>
      <div class="col-lg-8 col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
        <h3>Web and mobile application developer</h3>
        <p class="font-italic">
          A young energetic IT Professional having 5 years of experience,
          comprehensive technical skill-set, Web Application, Mobile and Server
          based development using latest tools and frameworks.
          <br />{{ "about.passionateAboutDevelopment" | translate }}
          <b>Back-End</b> {{ "about.and" | translate }} <b>Front-End</b>.
        </p>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <ul>
              <li>
                <fa-icon [icon]="mapMarker"></fa-icon
                ><strong> From Pakistan</strong>
              </li>
              <li>
                <fa-icon [icon]="email"></fa-icon
                ><strong
                  ><a href="mailto:hafizumar9076@gmail.com">
                    hafizumar9076@gmail.com</a
                  ></strong
                >
              </li>
              <li>
                <fa-icon [icon]="home"></fa-icon
                ><strong> CDI contract search </strong>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6">
            <ul>
              <li>
                <fa-icon [icon]="birthday"></fa-icon><strong> 29 Years</strong>
              </li>
              <li>
                <fa-icon [icon]="badge"></fa-icon
                ><strong> Master's degree from NCBA&E</strong>
              </li>
            </ul>
          </div>
        </div>
        <p>
          I always try my level best to deliver quality work within given
          timelines. Moreover I have always emphasized on usability,
          compatibility, ease-to-use, optimization and compression of
          application for minimum access time so that I can facilitate up to low
          bandwidth users in an efficient manner with great ease.
        </p>
      </div>
    </div>
  </div>
</section>
